body{
    margin: 0;
}
.tittle{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    height: 300px;
    width: 200px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}
.fa-bell{
    margin-top: 30px;
    text-align: center;
    display: block;
    font-size: 40px;
    color: silver;
}
.fa-bell-slash{
    margin-top: 30px;
    text-align: center;
    display: block;
    font-size: 40px;
    color: silver;
}
.fa-circle-exclamation{
    margin-top: 30px;
    text-align: center;
    display: block;
    font-size: 40px;
    color: silver;
}
.fa-radiation{
    margin-top: 30px;
    text-align: center;
    display: block;
    font-size: 40px;
    color: silver;
}

.serv{
    text-align: center;
    color: orange;
}
.txt{
    text-align: center;
}
.learn{
    margin-top: 20px;
    text-align: center;
    width: 70%;
    height: 30px;
    background: #6effe3;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}